<%= flash[:notice] if flash[:notice] %>


<h1><%= @owner.first_name %>
<%= @owner.last_name %></h1>
<% @pets.each do |pet| %>
  <%= link_to pet.name, pet %>
  <%= pet.species %> <br>
<% end %>

<%= button_to "Delete Owner", @owner, method: :delete%>
