<%= flash[:notice] if flash[:notice] %>

<h1>Updating <%= @pet.name %></h1>
<%= form_for @pet do |f|%>
  <p><%= f.label "name" %>
  <%= f.text_field :name %></p>
  <p><%= f.label "species" %>
  <%= f.text_field :species %></p>
  <%= f.collection_select :owner_id, @owners, :id, :first_name %>
  <%= f.submit %>
<%end%>
